.preview {
    background-color: var(--main-background-color);
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.preview::before,
.preview::after {
    content: '';
    margin: auto;
}

.preview:empty {
    display: none;
}
