.input {
    z-index: 999;
    position: absolute;
    padding: inherit;
    width: 100%;
    height: 100%;
    color: var(--main-font-color);
    font-family: var(--main-font);
    border: 0;
    outline: none;
    background: transparent;
    white-space: nowrap;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    user-select: none;
}
