:root {
  /* Main fonts and colors */
  --main-background-color: rgba(21, 22, 23, 0.999);
  --main-font: system, sans-serif;
  --main-font-color: white;
  --accent-color: #7b33ff;

  /* border styles */
  --main-border: 0.5px solid #58575b50;
  --border-color: #ffffff;

  /* Secondary fonts and colors */
  --secondary-font-color: #9B9D9F;

  /* results list */
  --result-background: transparent;
  --result-title-color: var(--main-font-color);
  --result-subtitle-color: #cccccc;

  /* selected result */
  --selected-result-title-color: white;
  --selected-result-subtitle-color: var(--result-subtitle-color);
  --selected-result-background: #3d3b49;

  /* inputs */
  --preview-input-background: #2E2E2C;
  --preview-input-color: var(--main-font-color);
  --preview-input-border: 0;

  /* filter for previews */
  --preview-filter: invert(100%) hue-rotate(180deg) contrast(80%);
}
